body {
  background: rgb(5,7,20);
  background: linear-gradient(160deg, rgba(5,7,20,1) 20%, rgba(21,25,37,1) 80%);
  color: var(--mnm-color-light-primary);
  height: 100vh;
}

/************************************************
* layout
*************************************************/
.container {
  display: flex;
  flex-direction: column;
}
